<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>CTS</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="~/Content/default.css">
	<link rel="stylesheet" href="~/Content/layout.css">
   <link rel="stylesheet" href="~/Content/media-queries.css">
   <link rel="stylesheet" href="~/Content/animate.css">
   <link rel="stylesheet" href="~/Content/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/a.css">
     <link rel="stylesheet" href="~/Content/bjqs.css">
      <link rel="stylesheet" href="~/Content/demo1.css">

   <!-- Script
   ================================================== -->
	<script src="~/Scripts/modernizr.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bjqs-1.3.min.js"></script>
        </head>

        <body>

       
      
               <form action="/Complaint/Complaints2">
                <table style="margin-left:800px">

		            <tr><td>Subject<input type="text" name="subject" id="subject"/></td></tr>
                   
                     <tr><td>detail<input type="text" name="detail" id="detail"/></td></tr>
                     <tr><td>status<input type="text" name="status" id="status"/></td></tr>
                      <tr><td>Location<input type="text" name="location" id="location"/></td></tr>
                    <tr><td><input type="submit" value="post"  /></td></tr>

                
                    
                 
                 
                </table>
          
        
        </body>
     

